.box_upscreen{
    width: 25vw;
    border-radius: 15px;
    background-color:#ffffff;
}
.title_text{
    margin-top: 1vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;

    color: #3899ee;
}
.inputfile{
    font-size: 1vw;
    margin-bottom: 2vw;
}
.col-10{
    margin-top: 0vw;
    display: grid;
    justify-content: center;
}
.col-10 button{
    background-color: #0e5ea4;
    border-radius: 30px;
    border: none;
    width: 12vw;
    border-width: 0.11vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    margin-bottom: 2.5vw;

    color: rgb(255, 255, 255);
}
.form-group{
    display: grid;
    justify-content: center;
}
.form-group input{
    height: 2vw;
}
.row {
    display: grid;
    justify-content: center;
}
.row .circle{
    margin-bottom: 2.5vw;
}

.col-10:hover{
    opacity: 0.7;
}
.col-10 button{
    cursor: pointer;
}