@media screen and (max-width:950px){
    .menu_icon{
        display: block;
    }
    .search_bar{
        display: none;
    }

}
@media screen and (max-width:650px){
    .menu_icon{
        display: block;
    }
    .menu {
        position: absolute;
        top: 75%;
        left: -100%;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
    }
    .menu .links{
        display: block;
    }
    .menu.active {
        position: absolute;
        top: 75%;
        left: 5%;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
    }
}