.navbar{
    max-width: auto;
    height: 80px;
    background: #192026;
}
.box{
    display: flex;
    position: relative;
    align-items: center;
    top: 10%;
    height: 80%;
}
.Logo{
    display: flex;
    height: 100%;
    margin-left: 2%;
    align-items: center;
    text-align:left;
}
.Logo a{
    text-decoration: none;
}
.Logo a h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;

    letter-spacing: 0.07em;

    color: #FFFFFF;
}
.Logo a h1:hover{
    opacity: 0.7;
}
.menu {
    height: 100%;
    width: 100%;
    margin-left: 5%; 
}
.links{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: left;
}
.menu .links a {
    margin-right: 5%;
    display: flex;
    height: auto;
    width: auto;
    text-decoration: none;
}
.menu .links a h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    letter-spacing: 0.07em;

    color: #868686;
}
.menu .links a h2:hover{
    opacity: 0.7;
}
.search_bar{
    position: absolute;
    top: 6%;
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 100px 8px 18px;
    gap: 10px;

    width: 12%;
    height: 55%;

    background: #374151;
    border-radius: 37px;
}
.search_bar input {
    position: relative;
    left:-8%;
    text-align: center;
    width: auto;
    height: 145%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    letter-spacing: 0.07em;

    color: #868686;

    flex: none;
    order: 0;
    flex-grow: 0;

    border: none;
    background: none;
    border-radius: 37px;
    outline: none;
}
.menu_icon{
    display: none;
    position: relative;
    left: 85%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    line-height: 32px;

    letter-spacing: 0.07em;

    color: #868686;
}