.bg_Home{
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    background:#192026 ;
    overflow: hidden;
}
.App h1{
    display: grid;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.LL a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 7vw;
}
.Animation{
    display: flex;
    font-size: 3vw;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    margin-top: 6vw;
    overflow: hidden;
}
.App {
    max-width: 100vw;
    max-height: 100vh;
}
.cloud_icon{
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    font-size: 10vw;
    color: aliceblue;
}
