.bg_Home{
    max-width: auto;
    max-height: auto;
    height: 100vh;
    background: none ;
    overflow: hidden;
}
.bg_Home h1{
    display: grid;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.bg_Home a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 25vw;
}
.Animation{
    display: flex;
    font-size: 3vw;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    margin-top: 3vw;
}
.App{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
}