.bg_Myfile{
    max-width: 100vw;
    height: 100vh;
    background:#192026 ;
    overflow:hidden;
}
.box_Myfile{
    display: flex;
    height: 40vw;
    width: 70vw;
    border-radius: 15px;
    margin-top: 4vh;
    margin-left: 15vw;
    background-color: #fff;
    overflow: scroll;
}
.Info{
    display: grid;
    margin-left: 3vw;
    width: 54vw;
    height: 3vw;
}
.Info .bg_Info{
    margin-top: 1.4vw;
    display: flex;
    border-radius: 30px;
    background-color: #d9d9d9;
}
.bg_Info .filename{
    margin-left: 15vw;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;

    color: #000000;
}
.bg_Info .date_upload{
    margin-left: 15vw;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;

    color: #000000;
}
.bg_Info .type{
    margin-left: 11vw;
    margin-right: 5vw;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;

    color: #000000;
}
.line{
    margin-top: 1.6vw;
    margin-left: 2vw;
    height: 36vw;
    width: 0.15vw;
    background-color: rgb(0, 0, 0);
}
.logo_Myfile{
    margin-left: 2vw;
}
.logo_Myfile h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;

    color: #000000;
}
.box_DATA{
    display: flex;
    margin-left: 0vw;
}
.name_DATA{
    display: grid;
    justify-content: left;
    width: 22vw;
    margin-left: 2vw;
}
.date_DATA{
    display: grid;
    justify-content: center;
    width: 15vw;
    margin-left: 2.5vw;
}
.type_DATA{
    display: grid;
    justify-content: center;
    width: 4vw;
    margin-left: 4vw;
}
.box_DATA p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    color: #000;
}
.button_download{
    margin-left: 1vw;
    display: grid;
}
.button_download button{
    font-size: 1vw;
    margin-top: 1vw;
}

