.bg_Myfile{
    max-width: 100vw;
    height: 100vh;
    background:#192026 ;
    overflow:hidden;
}
.box_Myfile{
    display: flex;
    height: 40vw;
    width: 70vw;
    margin-top: 1vh;

    background-color: #fff;
    overflow: auto;
}
.Info{
    display: grid;
    margin-left: 3vw;
    width: 54vw;
    height: 3vw;
}
.Info .bg_Info{
    margin-top: 1.4vw;
    display: flex;
    border-radius: 30px;
    background-color: #d9d9d9;
}
.bg_Info .filename{
    margin-left: 15vw;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;

    color: #000000;
}
.bg_Info .date_upload{
    margin-left: 15vw;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;

    color: #000000;
}
.bg_Info .type{
    margin-left: 11vw;
    margin-right: 5vw;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;

    color: #000000;
}
.line{
    margin-top: 1.6vw;
    margin-left: 2vw;
    height: 36vw;
    width: 0.15vw;
    background-color: rgb(0, 0, 0);
}
.logo_Myfile{
    margin-left: 2vw;
}
.logo_Myfile h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;

    color: #000000;
}
.box_DATA{
    display: flex;
    margin-left: 0vw;
}
.name_DATA{
    display: grid;
    justify-content: left;
    width: 22vw;
    margin-left: 2vw;
}
.date_DATA{
    display: grid;
    justify-content: center;
    width: 15vw;
    margin-left: 2.5vw;
}
.type_DATA{
    display: grid;
    justify-content: center;
    width: 4vw;
    margin-left: 4vw;
}
.box_DATA p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    color: #000;
}
.button_download{
    margin-left: 1vw;
    display: grid;
}
.button_download button{
    font-size: 1vw;
    margin-top: 1vw;
}
.button_download button:hover{
    cursor: pointer;
}
.box_search{
    margin-top: 4vh;
    margin-left: 1.5vw;
    display: flex;
    width: 25vw;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
.box_search .icon_search{
    overflow: hidden;
    font-size: 1.7vw;
    margin-top: 0.3vw;
    margin-left: 1vw;
}
.box_search input{
    text-indent: 1vw;
    border-radius: 30px;
    width: 22vw;
    margin-left: 0.2vw;
    border: none;
    outline: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vw;
}
.box_search input:hover{
    cursor: text;
}
.boxx{
    display: flex;
}
.box_upload{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-left: 48.5vw; 
    width: 10vw;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
.box_upload button{
    font-size: 1.5vw;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: none;
}
.box_upload button label{
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}
.box_upload button .icon_upload{
    margin-top: 0.5vw;
}
.box_upload :hover{
    cursor: pointer;
    opacity: 0.7;
}
.box_upload a{
    text-decoration: none;
}
.box_search1{
    margin-top: 4vh;
    margin-left: 60vw;
    display: flex;
    width: 25vw;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
.box_search1 .icon_search{
    overflow: hidden;
    font-size: 1.7vw;
    margin-top: 0.3vw;
    margin-left: 1vw;
}
.box_search1 input{
    text-indent: 1vw;
    border-radius: 30px;
    width: 22vw;
    margin-left: 0.2vw;
    border: none;
    outline: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vw;
}
.box_search1 input:hover{
    cursor: text;
}
.box_ofMyfile{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 2vw;
    margin-left: 14vw;
    height: 42vw;
    width: 72vw;
    background-color: rgb(255, 255, 255);
}