.bg{
    max-width: 100vw;
    height: 100vh;
    background:#192026 ;
    overflow:hidden;
}
.box2{
    margin-left: 30vw;
    width: 40vw;
    margin-top: 4vh;
    border-radius: 50px;
    display: grid;
    justify-content: center;
    background-color: #374551;
}
.title {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 32px;

    color: #FFFFFF;
}
.box2 label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 32px;

    color: #FFFFFF;
}
.box2 .inputID{
    display: grid;
    margin-top: 1vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 32px;

    color: #FFFFFF;
}
.box2 .inputPASSWORD{
    display: grid;
    margin-top: 1vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 32px;

    color: #FFFFFF;
}
.box2 .inputCONFIRM_PASSWORD{
    display: grid;
    margin-top: 1vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 32px;

    color: #FFFFFF;
}
.box2 .inputNAME{
    display: grid;
    margin-top: 1vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 32px;

    color: #FFFFFF;
}
.box2 input{
    margin-top: 0.5vw;
    border-radius: 50px;
    font-size: 2.2vw;
}
.bg button{
    border-width: 1px;
    margin-top: 2.5vw;
    margin-bottom: 3vw;
    margin-left: 8vw;

    height: 3vw;
    width: 12vw;

    border-radius: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 2.3vw;
    line-height: 32px;   
}
.bg button:hover{
    opacity: 0.7;
    cursor: pointer;
}